/* CSS stillerinizi buraya girin */

body {
  margin: 0;
}

.containerClamp {
  max-width: 900px;
  margin: 0 auto;
}
.header {
  background-color: rgb(232, 232, 232);
}
.header h1 {
  margin-left: 40px;
  padding: 10px;
}

.menu ul li {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  text-transform: uppercase;
  border: solid black 0.5px;
  margin-bottom: 1%;
}

.menu ul li a {
  color: black;
  text-decoration: none;
}

.menu ul li.menu--active {
  background-color: rgb(255, 122, 98);
}

.menu ul li:hover {
  background-color: rgb(60, 59, 59);
  border: solid white 0.5px;
  /*li ye hover ettiğimde yazının rengini nasıl değiştirebilirim?*/
}

.menu ul li a:hover {
  color: white;
}

.about {
  display: flex;
  gap: 30px;
  margin: 20px auto;
}

.about__image img {
  width: 96%;
  max-width: 600px;
  border-radius: 5px;
}

.about__content {
  display: inline-block;
  margin-top: auto;
  margin-bottom: 20px;
  padding-right: 20px;
  min-width: 200px;
  max-width: 400px;
}

.projects {
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects__item {
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
}

.project__image {
  width: 200px;
  border-radius: 5px;
}

.project__image:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.footer {
  background-color: rgb(226, 226, 226);
  display: flex;
  justify-content: center;
  padding: 40px;
}

.footer__cta {
  display: inline-block;
  text-align: center;
}

@media (max-width: 600px) {
  .header {
    display: flex;
    text-align: center;
  }
  .header h1 {
    font-size: 250%;
    margin: -0.5%;
  }

  .menu ul li {
    font-size: 150%;
  }
  .about {
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
  }
  .about__content {
    text-align: center;
    margin-left: 5%;
  }

  .projects {
    margin-left: 6%;
  }

  .projects__item {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
  }

  .projects__item p {
    display: none;
  }
}

/*






*/
